<!-- Default home page -->

<script type="text/javascript">
setTimeout(function sunrise () {
    // document.getElementsByClassName('header')[0].style.backgroundImage = "url('/images/bcgsc_transparent_logo.gif')";
}, 0);
</script>

<div class="default-page">
    <div class="header">
        <h1 id="main-title" class="container"><%= __('Contact Information') %></h1>
    </div>
    <div class="main container clearfix">
        <!-- <h1>Getting started</h1>
        <p>Don't worry, we've got your back.</p> -->
        <ul class="getting-started">
            <li class="clearfix">
                <div class="step">
                    <h3>Michael Smith Genome Sciences Centre</h3>
                    <P>
                        Suite 100 - 570 West 7th Ave<BR>
                        Vancouver, BC<BR>
                        V5Z 4S6<BR>
                        Canada<BR>
                        <BR>
                    </P>
                    <P> 
                        Phone: 604-707-5800<BR>
                        Fax:   604-876-3561<BR>
                        <BR>
                    </P>
                    <P>
                        <A Href = "http://www.bcgsc.ca">http://www.bcgsc.ca</A>
                    </P>
                </div>
            </li>
        </ul>
        <div class="links">
            <!-- <h3>Links</h3> -->
            <ul class="link-list">
                <h4><a target="_blank" href = "/"> Home </a> </h4>
                <h4>Online Interface</h4>
                    <a target="_blank" href="/ui"><li>User Interface</li></a>
                <h4>Docs</h4>
                    <a target="_blank" href="/FAQs"><li>FAQs</li> </a>
                    <a target="_blank" href="/examples"><li>Usage Examples</li> </a>
                    <a target="_blank" href="/contactUs"><li>Contact Us</li> </a>
        

                <h4>Community</h4>
                <a target="_blank" href="http://ga4gh.org/#/beacon"><li>Beacon Project</li></a>
                <a target="_blank" href="http://mcupak.github.io/beacon-of-beacons/index.html"><li>Beacon of Beacons</li></a>
                <a target="_blank" href="http://beacon-network.org"><li>Beacon Network</li></a>
            
            </ul>
        </div>
    </div>
</div>
