extends publicLayout
block content

  .default-page
  .header
    h1(id="main-title" class="container") GSC Beacon Interface
    
  .div(class="main container clearfix")
    ul.getting-started
          li.clearfix
            .step
              .sprite.one
              h3 What is a Beacon ?
              p
                | Beacons have been set up by a separate network of agencies.  For more information on beacons in general please refer to the links under the 'Community' section
          li.clearfix
            .step
              .sprite.two
              h3
                | What information does the beacon provide ?
              p
                | Beacons simply return a 'true' or 'false' response to inquiries about specific alleles within a specified chromosome position.
                br
                br
                |                         Required input information includes:
                br
                | * chrom - chromosome # (integer between 1 and 22)
                br
                | * pos   - position on the chromosome (integer)
                br
                | * allele - allele to test (A,C,T,G, D (deletion) or I (insertion))
                br
                br
          li.clearfix
            .step
              .sprite.three
              h3
                | How do I access the beacon ?
              p
                | You can access it by:
                br
                | * Entering a valid URL in any browser with applicable input parameters
                br
                | * Sending a URL query via a shell command (such as curl)
                br
                | * Using our interface
                br
                br
              p
                | In all cases, you will get a JSON response (see format description for output format)
        .links
          // <h3>Links</h3>
          ul.link-list
            h4
              a(target='_blank', href='/')  Home 
            h4 Online Interface
            a(target='_blank', href='/ui')
              li User Interface
            h4 Docs
            a(target='_blank', href='/FAQs')
              li FAQs
            a(target='_blank', href='/examples')
              li Usage Examples
            a(target='_blank', href='/contactUs')
              li Contact Us
            h4 Community
            a(target='_blank', href='http://ga4gh.org/#/beacon')
              li Beacon Project
            a(target='_blank', href='http://mcupak.github.io/beacon-of-beacons/index.html')
              li Beacon of Beacons
            a(target='_blank', href='http://beacon-network.org')
              li Beacon Network

