<!-- Default home page -->

<div class="default-page">
    <div class="header">
        <h1 id="main-title" class="container"><%= __('GSC Beacon Home Page') %></h1>
    </div>
    <div class="main container clearfix">
        <!-- <h1>Getting started</h1>
        <p>Don't worry, we've got your back.</p> -->
        <h2> Welcome to the GSC Beacon (under construction)</h2>
        <ul class="getting-started">
            <li class="clearfix">
                <div class="step">
                    <div class="sprite one"></div>
                    <h3>Get GSC Beacon Information</h3>
                    <BR><BR>
                        Retrieve beacon information in standard format (JSON) 
                    <BR><BR>
                        <a href="/beacon">
                          <button class='btn btn-primary'>Beacon Info (JSON)</button>
                        </a>
                    <BR><BR>
                        
                        <p>URL syntax: <B>"http://limsdev06.bcgsc.ca/beacon/beacon"</B></p>
                </div>
            </li>
            <li class="clearfix">
                <div class="step">
                    <div class="sprite two"></div>
                    <h3>
                        Find Variants using the GSC Beacon 
                    </h3>
                    <BR><BR>
                        <a href="/UI">
                          <button class='btn btn-primary'>Access Online User Interface</button>
                        </a>
                </div>
            </li>
            <li class="clearfix">
                <div class="step">
                    <div class="sprite three"></div>
                    <h3>
                        Learn More: 
                    </h3>
                    <BR><BR>
                    
                    <b> ... About using the GSC Beacon </b>
                    <BR><BR>
                        Please visit our 'Docs' links for using the GSC Beacon. 
                    <BR><BR>
                        Feel free to Contact us directly if you would like more information. 
                    <BR><BR>
                    <BR><BR>
                        
                    <b> ... About the Beacon Project </b>
                    <BR><BR>
                        Please visit our 'Community' links for more general information about the Beacon Project. 
                    <BR><BR>
                </div>
            </li>
        </ul>
        <div class="links">
            <!-- <h3>Links</h3> -->
            <ul class="link-list">
                
                <h4><a target="_blank" href = "/"> Home </a> </h4>
                
                <h4>Online Interface</h4>
                    <a target="_blank" href="/ui"><li>User Interface</li></a>

                <h4>Docs</h4>
                    <a target="_blank" href="/FAQs"><li>FAQs</li> </a>
                    <a target="_blank" href="/usage"><li>Usage</li> </a>
                    <a target="_blank" href="/demo"><li>Demo</li> </a>
                    <a target="_blank" href="/contactUs"><li>Contact Us</li> </a>
        

                <h4>Community</h4>
                <a target="_blank" href="http://ga4gh.org/#/beacon"><li>Beacon Project</li></a>
                <a target="_blank" href="http://mcupak.github.io/beacon-of-beacons/index.html"><li>Beacon of Beacons</li></a>
                <a target="_blank" href="http://beacon-network.org"><li>Beacon Network</li></a>
            
            </ul>
        </div>
    </div>
</div>
