.links
          ul.link-list
            h4
              a(target='_blank', href='/')  Home 
            |                 
            |                 
            h4 Online Interface
            |                     
            a(target='_blank', href='/ui')
              li Beacon Interface
            |                 
            a(target='_blank', href='/brca/search')
              li BRCA DB Interface
            |                 
            h4 Docs
            |                     
            a(target='_blank', href='/FAQs')
              li FAQs
            |                     
            a(target='_blank', href='/usage')
              li Usage
            |                     
            a(target='_blank', href='/demo')
              li Demo
            |                     
            a(target='_blank', href='/contactUs')
              li Contact Us
            |         
            |                 
            h4 Community
            a(target='_blank', href='http://ga4gh.org/#/beacon')
              li Beacon Project
            a(target='_blank', href='http://mcupak.github.io/beacon-of-beacons/index.html')
              li Beacon of Beacons
            a(target='_blank', href='http://beacon-network.org')
              li Beacon Network
            
            hr(style="border-color:#066; border-width:2px")

            a(target='_blank', href='http:///genomicsandhealth.org')
              li Global Alliance for Genomics and Health
            a(target='_blank', href='http:///genomicsandhealth.org/work-products-demonstration-projects/brca-challenge-0')
              li BRCA Challenge 
            a(target='_blank', href='http://brcaexchange.org')
              li BRCA Exchange (beta)
