extends publicLayout
block content

  .default-page
  .header
    h1(id="main-title" class="container") GSC Beacon Interface
  .div(class="main container clearfix")
      ul.getting-started
          li.clearfix
            .step
              .sprite.one
              h3 Beacon Info
              p
                code
                  | http://limsdemo.bcgsc.ca/beacon
                br
                br
              p
                | Returns:
                code 
                  pre { 
                      |     "aggregator": false,
                      |     "id": "bcgsc",   
                      |     "name": "Michael Smith Genome Sciences Centre - BC Cancer Agency",
                      |     "organization": "BCGSC"
                      |}
          li.clearfix
            .step
              .sprite.two
              h3
                | Find Variant
              p
                code
                  | http://limsdemo.bcgsc.ca/find_variant ? chrom = 13 &amp; pos = 12445 &amp; allele = C
                br
                br
              p
                | Returns:
                code
                  pre {
                      |   "beacon": {
                      |      "id": "BCGSC",
                      |      "name": "Genome Sciences Centre",
                      |      "organization": "BC Cancer Agency"
                      |   },
                      |   &nbsp;
                      |   "query": {
                      |      "allele": "A",
                      |      "chromosome": "1",
                      |      "position": "1000"
                      |   },
                      |   &nbsp;
                      |   "response": "TRUE",
                      |   "count": 1
                      |}
        .links
          // <h3>Links</h3>
          ul.link-list
            h4
              a(target='_blank', href='/')  Home 
            h4 Online Interface
            a(target='_blank', href='/ui')
              li User Interface
            h4 Docs
            a(target='_blank', href='/FAQs')
              li FAQs
            a(target='_blank', href='/examples')
              li Usage Examples
            a(target='_blank', href='/contactUs')
              li Contact Us
            h4 Community
            a(target='_blank', href='http://ga4gh.org/#/beacon')
              li Beacon Project
            a(target='_blank', href='http://mcupak.github.io/beacon-of-beacons/index.html')
              li Beacon of Beacons
            a(target='_blank', href='http://beacon-network.org')
              li Beacon Network

